[Unit]
Description=QuarkRemote Service
Documentation=https://quarkstudio.readthedocs.io/en/latest/usage/quark/remote/
After=network.target

[Service]
Type=simple
User=think
Group=think
WorkingDirectory=/home/think/Desktop/qlab
ExecStart=/home/think/.local/bin/uv run quark remote remote.json
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
