# Runtime requirements for the python 3 version of systemq.
sphinxcontrib-napoleon
sphinxcontrib.apidoc
sphinx_markdown_tables
sphinx-press-theme
sphinx-book-theme
furo
myst-parser
rst-to-myst[sphinx]
sphinx_math_dollar

sphinx-autoapi
linkify-it-py
